name: cbl_flutter_example
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.6.0 <4.0.0"

dependencies:
  cbl: ^3.4.2+0
  cbl_flutter: ^3.3.1
  cbl_flutter_ce: ^3.3.2
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  intl: any

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
